<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【白名单关联表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-09
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.white.WhiteListTargetDao">

	<resultMap id="whiteListTargetResultMap" type="com.bluemobi.po.white.WhiteListTarget">
		<id property="id" column="id" />
       <result property="whiteListId" column="white_list_id" />
       <result property="type" column="type" />
       <result property="targetId" column="target_id" />
       <result property="creator" column="creator" />
       <result property="ctime" column="ctime" />
       <result property="modifier" column="modifier" />
       <result property="mtime" column="mtime" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="whiteListTargetResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="whiteListTargetResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.white.WhiteListTarget" useGeneratedKeys="true" keyProperty="id" >
	   insert into white_list_target (
	     id,
	     white_list_id,
	     type,
	     target_id,
	     creator,
	     ctime,
	     modifier,
	     mtime
	   )values (
	     #{id},
	     #{whiteListId},
	     #{type},
	     #{targetId},
	     #{creator},
	     #{ctime},
	     #{modifier},
	     #{mtime}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.white.WhiteListTarget">
		update white_list_target
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="whiteListId != null">
				white_list_id=#{whiteListId},
			</if>
			<if test="type != null">
				type=#{type},
			</if>
			<if test="targetId != null">
				target_id=#{targetId},
			</if>
			<if test="creator != null">
				creator=#{creator},
			</if>
			<if test="ctime != null">
				ctime=#{ctime},
			</if>
			<if test="modifier != null">
				modifier=#{modifier},
			</if>
			<if test="mtime != null">
				mtime=#{mtime},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     white_list_target 
	   where 
	    id=#{id} 
	</delete>
	<delete id="deleteRelated" parameterType="map">
		delete from white_list_target where white_list_id=#{id}
	</delete>
	<select id="selectObject" parameterType="map" resultMap="whiteListTargetResultMap">
	   select 
	    id,
	    white_list_id,
	    type,
	    target_id,
	    creator,
	    ctime,
	    modifier,
	    mtime
	   from white_list_target
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="whiteListTargetResultMap">
	   select 
	     id,
	     white_list_id,
	     type,
	     target_id,
	     creator,
	     ctime,
	     modifier,
	     mtime
	   from white_list_target
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="whiteListId != null">
	        and white_list_id=#{whiteListId}
	     </if>
	     <if test="type != null">
	        and type=#{type}
	     </if>
	     <if test="targetId != null">
	        and target_id=#{targetId}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    white_list_id,
	    type,
	    target_id,
	    creator,
	    ctime,
	    modifier,
	    mtime
	   from white_list_target
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     white_list_id,
	     type,
	     target_id,
	     creator,
	     ctime,
	     modifier,
	     mtime
	   from white_list_target
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="whiteListId != null">
	        and white_list_id=#{whiteListId}
	     </if>
	     <if test="type != null">
	        and type=#{type}
	     </if>
	     <if test="targetId != null">
	        and target_id=#{targetId}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     white_list_id,
	     type,
	     target_id,
	     creator,
	     ctime,
	     modifier,
	     mtime
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from white_list_target
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="whiteListId != null">
	        and white_list_id=#{whiteListId}
	     </if>
	     <if test="type != null">
	        and type=#{type}
	     </if>
	     <if test="targetId != null">
	        and target_id=#{targetId}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	   </where>
	</sql>

	
</mapper> 