<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【商品分类绑定属性表，后台管理员在新增商品的时候，选好分类后，系统会自动带出当前商品的属性】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-08
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.goods.GoodsCategoryPropertyDao">

	<resultMap id="goodsCategoryPropertyResultMap" type="com.bluemobi.po.goods.GoodsCategoryProperty">
		<id property="id" column="id" />
       <result property="categoryId" column="category_id" />
       <result property="propertyId" column="property_id" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="goodsCategoryPropertyResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="goodsCategoryPropertyResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.goods.GoodsCategoryProperty" useGeneratedKeys="true" keyProperty="id" >
	   insert into goods_category_property (
	     id,
	     category_id,
	     property_id
	   )values (
	     #{id},
	     #{categoryId},
	     #{propertyId}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.goods.GoodsCategoryProperty">
		update goods_category_property
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="categoryId != null">
				category_id=#{categoryId},
			</if>
			<if test="propertyId != null">
				property_id=#{propertyId},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     goods_category_property 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="goodsCategoryPropertyResultMap">
	   select 
	    id,
	    category_id,
	    property_id
	   from goods_category_property
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="goodsCategoryPropertyResultMap">
	   select 
	     id,
	     category_id,
	     property_id
	   from goods_category_property
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="categoryId != null">
	        and category_id=#{categoryId}
	     </if>
	     <if test="propertyId != null">
	        and property_id=#{propertyId}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    category_id,
	    property_id
	   from goods_category_property
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     category_id,
	     property_id
	   from goods_category_property
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="categoryId != null">
	        and category_id=#{categoryId}
	     </if>
	     <if test="propertyId != null">
	        and property_id=#{propertyId}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     category_id,
	     property_id
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from goods_category_property
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="categoryId != null">
	        and category_id=#{categoryId}
	     </if>
	     <if test="propertyId != null">
	        and property_id=#{propertyId}
	     </if>
	   </where>
	</sql>

	<delete id="deleteByCategoryId" parameterType="java.util.List">
       delete from 
          goods_category_property 
       where 
          category_id in  
        <foreach collection="list" item = "item" index="index" open="(" separator="," close=")">
              #{item.categoryId}  
        </foreach>  
    </delete>
    
    <insert id="insertGoodsPropertyCategories" parameterType="java.util.List">
          insert into goods_category_property 
              (
                  property_id,category_id
              ) 
          values
          <foreach collection="list" item="item" index="index" separator=",">
              (
                  #{item.propertyId}, #{item.categoryId}
              )
          </foreach>
    </insert>
</mapper> 