<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【商品sku自定义属性表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-08
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.goods.GoodsSkuPropertyCustomDao">

	<resultMap id="goodsSkuPropertyCustomResultMap" type="com.bluemobi.po.goods.GoodsSkuPropertyCustom">
		<id property="id" column="id" />
       <result property="skuId" column="sku_id" />
       <result property="name" column="name" />
       <result property="valueName" column="value_name" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="goodsSkuPropertyCustomResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="goodsSkuPropertyCustomResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.goods.GoodsSkuPropertyCustom" useGeneratedKeys="true" keyProperty="id" >
	   insert into goods_sku_property_custom (
	     id,
	     sku_id,
	     name,
	     value_name
	   )values (
	     #{id},
	     #{skuId},
	     #{name},
	     #{valueName}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.goods.GoodsSkuPropertyCustom">
		update goods_sku_property_custom
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="skuId != null">
				sku_id=#{skuId},
			</if>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="valueName != null">
				value_name=#{valueName},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     goods_sku_property_custom 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="goodsSkuPropertyCustomResultMap">
	   select 
	    id,
	    sku_id,
	    name,
	    value_name
	   from goods_sku_property_custom
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="goodsSkuPropertyCustomResultMap">
	   select 
	     id,
	     sku_id,
	     name,
	     value_name
	   from goods_sku_property_custom
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="valueName != null">
	        and value_name=#{valueName}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    sku_id,
	    name,
	    value_name
	   from goods_sku_property_custom
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     sku_id,
	     name,
	     value_name
	   from goods_sku_property_custom
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="valueName != null">
	        and value_name=#{valueName}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     sku_id,
	     name,
	     value_name
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from goods_sku_property_custom
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="valueName != null">
	        and value_name=#{valueName}
	     </if>
	   </where>
	</sql>

	
</mapper> 