<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【抽奖明细】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-09
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.activity.ActivityLotteryItemDao">

	<resultMap id="activityLotteryItemResultMap" type="com.bluemobi.po.activity.ActivityLotteryItem">
		<id property="id" column="id" />
       <result property="lotteryId" column="lottery_id" />
       <result property="skuId" column="sku_id" />
       <result property="position" column="position" />
       <result property="pic" column="pic" />
       <result property="quantity" column="quantity" />
       <result property="remainQuantity" column="remain_quantity" />
       <result property="settlementPrice" column="settlement_price" />
       <result property="beginTime" column="begin_time" />
       <result property="endTime" column="end_time" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="activityLotteryItemResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="activityLotteryItemResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.activity.ActivityLotteryItem" useGeneratedKeys="true" keyProperty="id" >
	   insert into activity_lottery_item (
	     id,
	     lottery_id,
	     sku_id,
	     position,
	     pic,
	     quantity,
	     remain_quantity,
	     settlement_price,
	     begin_time,
	     end_time
	   )values (
	     #{id},
	     #{lotteryId},
	     #{skuId},
	     #{position},
	     #{pic},
	     #{quantity},
	     #{remainQuantity},
	     #{settlementPrice},
	     #{beginTime},
	     #{endTime}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.activity.ActivityLotteryItem">
		update activity_lottery_item
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="lotteryId != null">
				lottery_id=#{lotteryId},
			</if>
			<if test="skuId != null">
				sku_id=#{skuId},
			</if>
			<if test="position != null">
				position=#{position},
			</if>
			<if test="pic != null">
				pic=#{pic},
			</if>
			<if test="quantity != null">
				quantity=#{quantity},
			</if>
			<if test="remainQuantity != null">
				remain_quantity=#{remainQuantity},
			</if>
			<if test="settlementPrice != null">
				settlement_price=#{settlementPrice},
			</if>
			<if test="beginTime != null">
				begin_time=#{beginTime},
			</if>
			<if test="endTime != null">
				end_time=#{endTime},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     activity_lottery_item 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="activityLotteryItemResultMap">
	   select 
	    id,
	    lottery_id,
	    sku_id,
	    position,
	    pic,
	    quantity,
	    remain_quantity,
	    settlement_price,
	    begin_time,
	    end_time
	   from activity_lottery_item
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="activityLotteryItemResultMap">
	   select 
	     id,
	     lottery_id,
	     sku_id,
	     position,
	     pic,
	     quantity,
	     remain_quantity,
	     settlement_price,
	     begin_time,
	     end_time
	   from activity_lottery_item
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="lotteryId != null">
	        and lottery_id=#{lotteryId}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="position != null">
	        and position=#{position}
	     </if>
	     <if test="pic != null">
	        and pic=#{pic}
	     </if>
	     <if test="quantity != null">
	        and quantity=#{quantity}
	     </if>
	     <if test="remainQuantity != null">
	        and remain_quantity=#{remainQuantity}
	     </if>
	     <if test="settlementPrice != null">
	        and settlement_price=#{settlementPrice}
	     </if>
	     <if test="beginTime != null">
	        and begin_time=#{beginTime}
	     </if>
	     <if test="endTime != null">
	        and end_time=#{endTime}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    lottery_id,
	    sku_id,
	    position,
	    pic,
	    quantity,
	    remain_quantity,
	    settlement_price,
	    begin_time,
	    end_time
	   from activity_lottery_item
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     lottery_id,
	     sku_id,
	     position,
	     pic,
	     quantity,
	     remain_quantity,
	     settlement_price,
	     begin_time,
	     end_time
	   from activity_lottery_item
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="lotteryId != null">
	        and lottery_id=#{lotteryId}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="position != null">
	        and position=#{position}
	     </if>
	     <if test="pic != null">
	        and pic=#{pic}
	     </if>
	     <if test="quantity != null">
	        and quantity=#{quantity}
	     </if>
	     <if test="remainQuantity != null">
	        and remain_quantity=#{remainQuantity}
	     </if>
	     <if test="settlementPrice != null">
	        and settlement_price=#{settlementPrice}
	     </if>
	     <if test="beginTime != null">
	        and begin_time=#{beginTime}
	     </if>
	     <if test="endTime != null">
	        and end_time=#{endTime}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     lottery_id,
	     sku_id,
	     position,
	     pic,
	     quantity,
	     remain_quantity,
	     settlement_price,
	     begin_time,
	     end_time
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from activity_lottery_item
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="lotteryId != null">
	        and lottery_id=#{lotteryId}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="position != null">
	        and position=#{position}
	     </if>
	     <if test="pic != null">
	        and pic=#{pic}
	     </if>
	     <if test="quantity != null">
	        and quantity=#{quantity}
	     </if>
	     <if test="remainQuantity != null">
	        and remain_quantity=#{remainQuantity}
	     </if>
	     <if test="settlementPrice != null">
	        and settlement_price=#{settlementPrice}
	     </if>
	     <if test="beginTime != null">
	        and begin_time=#{beginTime}
	     </if>
	     <if test="endTime != null">
	        and end_time=#{endTime}
	     </if>
	   </where>
	</sql>

	
</mapper> 