<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【商品订单表，存放主订单编号，收货人信息等】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-09
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.bts.BtsOrderDao">

	<resultMap id="btsOrderResultMap" type="com.bluemobi.po.bts.BtsOrder">
		<id property="id" column="id" />
       <result property="orderNo" column="order_no" />
       <result property="userId" column="user_id" />
       <result property="remark" column="remark" />
       <result property="consigneeRegionId" column="consignee_region_id" />
       <result property="consigneeRegionName" column="consignee_region_name" />
       <result property="consigneeAddress" column="consignee_address" />
       <result property="consigneeName" column="consignee_name" />
       <result property="consigneeEmail" column="consignee_email" />
       <result property="consigneeZipcode" column="consignee_zipcode" />
       <result property="consigneeMobileNo" column="consignee_mobile_no" />
       <result property="status" column="status" />
       <result property="isCancel" column="is_cancel" />
       <result property="isDel" column="is_del" />
       <result property="goodsAmount" column="goods_amount" />
       <result property="discountAmount" column="discount_amount" />
       <result property="freightAmount" column="freight_amount" />
       <result property="payableAmount" column="payable_amount" />
       <result property="payAmount" column="pay_amount" />
       <result property="payType" column="pay_type" />
       <result property="payTime" column="pay_time" />
       <result property="ctime" column="ctime" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="btsOrderResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="btsOrderResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.bts.BtsOrder" useGeneratedKeys="true" keyProperty="id" >
	   insert into bts_order (
	     id,
	     order_no,
	     user_id,
	     remark,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_name,
	     consignee_email,
	     consignee_zipcode,
	     consignee_mobile_no,
	     status,
	     is_cancel,
	     is_del,
	     goods_amount,
	     discount_amount,
	     freight_amount,
	     payable_amount,
	     pay_amount,
	     pay_type,
	     pay_time,
	     ctime
	   )values (
	     #{id},
	     #{orderNo},
	     #{userId},
	     #{remark},
	     #{consigneeRegionId},
	     #{consigneeRegionName},
	     #{consigneeAddress},
	     #{consigneeName},
	     #{consigneeEmail},
	     #{consigneeZipcode},
	     #{consigneeMobileNo},
	     #{status},
	     #{isCancel},
	     #{isDel},
	     #{goodsAmount},
	     #{discountAmount},
	     #{freightAmount},
	     #{payableAmount},
	     #{payAmount},
	     #{payType},
	     #{payTime},
	     #{ctime}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.bts.BtsOrder">
		update bts_order
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="orderNo != null">
				order_no=#{orderNo},
			</if>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="remark != null">
				remark=#{remark},
			</if>
			<if test="consigneeRegionId != null">
				consignee_region_id=#{consigneeRegionId},
			</if>
			<if test="consigneeRegionName != null">
				consignee_region_name=#{consigneeRegionName},
			</if>
			<if test="consigneeAddress != null">
				consignee_address=#{consigneeAddress},
			</if>
			<if test="consigneeName != null">
				consignee_name=#{consigneeName},
			</if>
			<if test="consigneeEmail != null">
				consignee_email=#{consigneeEmail},
			</if>
			<if test="consigneeZipcode != null">
				consignee_zipcode=#{consigneeZipcode},
			</if>
			<if test="consigneeMobileNo != null">
				consignee_mobile_no=#{consigneeMobileNo},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="isCancel != null">
				is_cancel=#{isCancel},
			</if>
			<if test="isDel != null">
				is_del=#{isDel},
			</if>
			<if test="goodsAmount != null">
				goods_amount=#{goodsAmount},
			</if>
			<if test="discountAmount != null">
				discount_amount=#{discountAmount},
			</if>
			<if test="freightAmount != null">
				freight_amount=#{freightAmount},
			</if>
			<if test="payableAmount != null">
				payable_amount=#{payableAmount},
			</if>
			<if test="payAmount != null">
				pay_amount=#{payAmount},
			</if>
			<if test="payType != null">
				pay_type=#{payType},
			</if>
			<if test="payTime != null">
				pay_time=#{payTime},
			</if>
			<if test="ctime != null">
				ctime=#{ctime},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     bts_order 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="btsOrderResultMap">
	   select 
	    id,
	    order_no,
	    user_id,
	    remark,
	    consignee_region_id,
	    consignee_region_name,
	    consignee_address,
	    consignee_name,
	    consignee_email,
	    consignee_zipcode,
	    consignee_mobile_no,
	    status,
	    is_cancel,
	    is_del,
	    goods_amount,
	    discount_amount,
	    freight_amount,
	    payable_amount,
	    pay_amount,
	    pay_type,
	    pay_time,
	    ctime
	   from bts_order
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="btsOrderResultMap">
	   select 
	     id,
	     order_no,
	     user_id,
	     remark,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_name,
	     consignee_email,
	     consignee_zipcode,
	     consignee_mobile_no,
	     status,
	     is_cancel,
	     is_del,
	     goods_amount,
	     discount_amount,
	     freight_amount,
	     payable_amount,
	     pay_amount,
	     pay_type,
	     pay_time,
	     ctime
	   from bts_order
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="orderNo != null">
	        and order_no=#{orderNo}
	     </if>
	     <if test="userId != null">
	        and user_id=#{userId}
	     </if>
	     <if test="remark != null">
	        and remark=#{remark}
	     </if>
	     <if test="consigneeRegionId != null">
	        and consignee_region_id=#{consigneeRegionId}
	     </if>
	     <if test="consigneeRegionName != null">
	        and consignee_region_name=#{consigneeRegionName}
	     </if>
	     <if test="consigneeAddress != null">
	        and consignee_address=#{consigneeAddress}
	     </if>
	     <if test="consigneeName != null">
	        and consignee_name=#{consigneeName}
	     </if>
	     <if test="consigneeEmail != null">
	        and consignee_email=#{consigneeEmail}
	     </if>
	     <if test="consigneeZipcode != null">
	        and consignee_zipcode=#{consigneeZipcode}
	     </if>
	     <if test="consigneeMobileNo != null">
	        and consignee_mobile_no=#{consigneeMobileNo}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isCancel != null">
	        and is_cancel=#{isCancel}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	     <if test="goodsAmount != null">
	        and goods_amount=#{goodsAmount}
	     </if>
	     <if test="discountAmount != null">
	        and discount_amount=#{discountAmount}
	     </if>
	     <if test="freightAmount != null">
	        and freight_amount=#{freightAmount}
	     </if>
	     <if test="payableAmount != null">
	        and payable_amount=#{payableAmount}
	     </if>
	     <if test="payAmount != null">
	        and pay_amount=#{payAmount}
	     </if>
	     <if test="payType != null">
	        and pay_type=#{payType}
	     </if>
	     <if test="payTime != null">
	        and pay_time=#{payTime}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    order_no,
	    user_id,
	    remark,
	    consignee_region_id,
	    consignee_region_name,
	    consignee_address,
	    consignee_name,
	    consignee_email,
	    consignee_zipcode,
	    consignee_mobile_no,
	    status,
	    is_cancel,
	    is_del,
	    goods_amount,
	    discount_amount,
	    freight_amount,
	    payable_amount,
	    pay_amount,
	    pay_type,
	    pay_time,
	    ctime
	   from bts_order
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     order_no,
	     user_id,
	     remark,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_name,
	     consignee_email,
	     consignee_zipcode,
	     consignee_mobile_no,
	     status,
	     is_cancel,
	     is_del,
	     goods_amount,
	     discount_amount,
	     freight_amount,
	     payable_amount,
	     pay_amount,
	     pay_type,
	     pay_time,
	     ctime
	   from bts_order
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="orderNo != null">
	        and order_no=#{orderNo}
	     </if>
	     <if test="userId != null">
	        and user_id=#{userId}
	     </if>
	     <if test="remark != null">
	        and remark=#{remark}
	     </if>
	     <if test="consigneeRegionId != null">
	        and consignee_region_id=#{consigneeRegionId}
	     </if>
	     <if test="consigneeRegionName != null">
	        and consignee_region_name=#{consigneeRegionName}
	     </if>
	     <if test="consigneeAddress != null">
	        and consignee_address=#{consigneeAddress}
	     </if>
	     <if test="consigneeName != null">
	        and consignee_name=#{consigneeName}
	     </if>
	     <if test="consigneeEmail != null">
	        and consignee_email=#{consigneeEmail}
	     </if>
	     <if test="consigneeZipcode != null">
	        and consignee_zipcode=#{consigneeZipcode}
	     </if>
	     <if test="consigneeMobileNo != null">
	        and consignee_mobile_no=#{consigneeMobileNo}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isCancel != null">
	        and is_cancel=#{isCancel}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	     <if test="goodsAmount != null">
	        and goods_amount=#{goodsAmount}
	     </if>
	     <if test="discountAmount != null">
	        and discount_amount=#{discountAmount}
	     </if>
	     <if test="freightAmount != null">
	        and freight_amount=#{freightAmount}
	     </if>
	     <if test="payableAmount != null">
	        and payable_amount=#{payableAmount}
	     </if>
	     <if test="payAmount != null">
	        and pay_amount=#{payAmount}
	     </if>
	     <if test="payType != null">
	        and pay_type=#{payType}
	     </if>
	     <if test="payTime != null">
	        and pay_time=#{payTime}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     order_no,
	     user_id,
	     remark,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_name,
	     consignee_email,
	     consignee_zipcode,
	     consignee_mobile_no,
	     status,
	     is_cancel,
	     is_del,
	     goods_amount,
	     discount_amount,
	     freight_amount,
	     payable_amount,
	     pay_amount,
	     pay_type,
	     pay_time,
	     ctime
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from bts_order
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="orderNo != null">
	        and order_no=#{orderNo}
	     </if>
	     <if test="userId != null">
	        and user_id=#{userId}
	     </if>
	     <if test="remark != null">
	        and remark=#{remark}
	     </if>
	     <if test="consigneeRegionId != null">
	        and consignee_region_id=#{consigneeRegionId}
	     </if>
	     <if test="consigneeRegionName != null">
	        and consignee_region_name=#{consigneeRegionName}
	     </if>
	     <if test="consigneeAddress != null">
	        and consignee_address=#{consigneeAddress}
	     </if>
	     <if test="consigneeName != null">
	        and consignee_name=#{consigneeName}
	     </if>
	     <if test="consigneeEmail != null">
	        and consignee_email=#{consigneeEmail}
	     </if>
	     <if test="consigneeZipcode != null">
	        and consignee_zipcode=#{consigneeZipcode}
	     </if>
	     <if test="consigneeMobileNo != null">
	        and consignee_mobile_no=#{consigneeMobileNo}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isCancel != null">
	        and is_cancel=#{isCancel}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	     <if test="goodsAmount != null">
	        and goods_amount=#{goodsAmount}
	     </if>
	     <if test="discountAmount != null">
	        and discount_amount=#{discountAmount}
	     </if>
	     <if test="freightAmount != null">
	        and freight_amount=#{freightAmount}
	     </if>
	     <if test="payableAmount != null">
	        and payable_amount=#{payableAmount}
	     </if>
	     <if test="payAmount != null">
	        and pay_amount=#{payAmount}
	     </if>
	     <if test="payType != null">
	        and pay_type=#{payType}
	     </if>
	     <if test="payTime != null">
	        and pay_time=#{payTime}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</sql>

	
</mapper> 