<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【商品属性值】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-08
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.goods.GoodsPropertyValueDao">

	<resultMap id="goodsPropertyValueResultMap" type="com.bluemobi.po.goods.GoodsPropertyValue">
		<id property="id" column="id" />
       <result property="propertyId" column="property_id" />
       <result property="name" column="name" />
       <result property="sortOrder" column="sort_order" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="goodsPropertyValueResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="goodsPropertyValueResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.goods.GoodsPropertyValue" useGeneratedKeys="true" keyProperty="id" >
	   insert into goods_property_value (
	     id,
	     property_id,
	     name,
	     sort_order
	   )values (
	     #{id},
	     #{propertyId},
	     #{name},
	     #{sortOrder}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.goods.GoodsPropertyValue">
		update goods_property_value
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="propertyId != null">
				property_id=#{propertyId},
			</if>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="sortOrder != null">
				sort_order=#{sortOrder},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     goods_property_value 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="goodsPropertyValueResultMap">
	   select 
	    id,
	    property_id,
	    name,
	    sort_order
	   from goods_property_value
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="goodsPropertyValueResultMap">
	   select 
	     id,
	     property_id,
	     name,
	     sort_order
	   from goods_property_value
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="propertyId != null">
	        and property_id=#{propertyId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    property_id,
	    name,
	    sort_order
	   from goods_property_value
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     property_id,
	     name,
	     sort_order
	   from goods_property_value
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="propertyId != null">
	        and property_id=#{propertyId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     property_id,
	     name,
	     sort_order
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from goods_property_value
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="propertyId != null">
	        and property_id=#{propertyId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	   </where>
	</sql>

	
</mapper> 