<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【商品属性基础数据表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-08
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.goods.GoodsPropertyDao">

	<resultMap id="goodsPropertyResultMap" type="com.bluemobi.po.goods.GoodsProperty">
		<id property="id" column="id" />
       <result property="name" column="name" />
       <result property="description" column="description" />
       <result property="sortOrder" column="sort_order" />
       <result property="isSku" column="is_sku" />
       <result property="isPic" column="is_pic" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="goodsPropertyResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="goodsPropertyResultMap"></resultMap>
	<resultMap type="com.bluemobi.to.goods.PropertyAndPropertyValueTO" id="propertyAndPropertyValueTO">
        <id property="propertyId" column="id" />
        <id property="propertyValueId" column="id" />
        <id property="sortOrder" column="sort_order" />
        <id property="propertyName" column="name" />
        <id property="propertyValue" column="name" />
        <id property="description" column="description" />
        <id property="isSku" column="is_sku" />
        <id property="isPic" column="is_pic" />
        <id property="valueSortOrder" column="sort_order" />
	</resultMap>
	<!-- 根据属性名模糊查询属性、属性值 ；1.在属性表有值，属性值表没有对应值的情况下，无法显示结果；2.分页显示的页数是属性值表的-->
	<select id="selectPropertyAndPropertyValue" parameterType="map" resultMap="propertyAndPropertyValueTO">
		select 
		  p.id propertyId,
		  pv.id propertyValueId,
		  p.name propertyName,
		  GROUP_CONCAT(pv.name) propertyValue,
		  p.sort_order sortOrder,
		  p.description description,
		  p.is_sku isSku,
		  p.is_pic isPic,
		  pv.sort_order valueSortOrder
		from 
		  goods_property p,
		  goods_property_value pv
		<where> 
		  p.id = pv.property_id  
		 <if test="propertyName != null">
	        and p.name LIKE CONCAT(CONCAT('%', #{propertyName}), '%')
	     </if>
	     <if test="propertyId != null">
	     	and p.id = #{propertyId}
	     </if>
	     <!-- 为了防止name冲突造成的数据错误要加group by -->
	     group by p.id 
	     <if test="offset!=null">
	     	limit #{offset}
	     </if>
	     <if test="rows!=null">
	     	,#{rows}
	     </if>
	     </where>
	</select>
	
	<select id="pageCountPropAndVal" parameterType="map" resultType="int">
		select count(1)
		from 
		  goods_property p,
		  goods_property_value pv
		<where> 
		  p.id = pv.property_id  
		 <if test="propertyName != null">
	        and p.name LIKE CONCAT(CONCAT('%', #{propertyName}), '%')
	     </if>
	     <if test="propertyId != null">
	     	and p.id = #{propertyId}
	     </if>
	     </where>
	</select>
	<insert id="insert" parameterType="com.bluemobi.po.goods.GoodsProperty" useGeneratedKeys="true" keyProperty="id" >
	   insert into goods_property (
	     id,
	     name,
	     description,
	     sort_order,
	     is_sku,
	     is_pic
	   )values (
	     #{id},
	     #{name},
	     #{description},
	     #{sortOrder},
	     #{isSku},
	     #{isPic}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.goods.GoodsProperty">
		update goods_property
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="description != null">
				description=#{description},
			</if>
			<if test="sortOrder != null">
				sort_order=#{sortOrder},
			</if>
			<if test="isSku != null">
				is_sku=#{isSku},
			</if>
			<if test="isPic != null">
				is_pic=#{isPic},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     goods_property 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="goodsPropertyResultMap">
	   select 
	    id,
	    name,
	    description,
	    sort_order,
	    is_sku,
	    is_pic
	   from goods_property
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="goodsPropertyResultMap">
	   select 
	     id,
	     name,
	     description,
	     sort_order,
	     is_sku,
	     is_pic
	   from goods_property
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="description != null">
	        and description=#{description}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	     <if test="isSku != null">
	        and is_sku=#{isSku}
	     </if>
	     <if test="isPic != null">
	        and is_pic=#{isPic}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    name,
	    description,
	    sort_order,
	    is_sku,
	    is_pic
	   from goods_property
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     name,
	     description,
	     sort_order,
	     is_sku,
	     is_pic
	   from goods_property
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="description != null">
	        and description=#{description}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	     <if test="isSku != null">
	        and is_sku=#{isSku}
	     </if>
	     <if test="isPic != null">
	        and is_pic=#{isPic}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     name,
	     description,
	     sort_order,
	     is_sku,
	     is_pic
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from goods_property
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="description != null">
	        and description=#{description}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	     <if test="isSku != null">
	        and is_sku=#{isSku}
	     </if>
	     <if test="isPic != null">
	        and is_pic=#{isPic}
	     </if>
	   </where>
	</sql>
	<select id="selectPropertyIsSkuCountByCategoryId" parameterType="int" resultType="int">
        SELECT 
            count(1)
        FROM 
            goods_category_property t,
            goods_property p
        WHERE 
            t.property_id = p.id
            AND t.category_id = #{categoryId}
            AND p.is_sku = 1
    </select>
	<select id="selectPropertyIsPicCountByCategoryId" parameterType="int" resultType="int">
        SELECT 
            count(1)
        FROM 
            goods_category_property t,
            goods_property p
        WHERE 
            t.property_id = p.id
            AND t.category_id = #{categoryId}
            AND p.is_pic = 1
    </select>
</mapper> 